<!DOCTYPE html>

<html layout:decorate="~{layout}">
	<head>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<div class="col-sm-8 text-left" layout:fragment="conteudo">
                    <h1>Serviço</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus, fugit exercitationem voluptates odit temporibus, rem aliquid dolores delectus ullam tenetur deserunt amet excepturi quisquam! Assumenda tenetur recusandae consectetur ex.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus, fugit exercitationem voluptates odit temporibus, rem aliquid dolores delectus ullam tenetur deserunt amet excepturi quisquam! Assumenda tenetur recusandae consectetur ex.</p>
                    <ol class="breadcrumb">
                        <li><a href="#">Serviço 1</a></li>
                        <li><a href="#">Serviço 2</a></li>
                        <li class="active">Data</li>
                      </ol>

                    <div class="jumbotron">
                        <h1>Nossos serviços</h1>
                        <p>...</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a></p>
                    </div>
                        

                        
                </div>
	</body>
</html>