<!DOCTYPE html>

<html layout:decorate="~{layout}">
	<head>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<div class="col-sm-8 text-left" layout:fragment="conteudo">
                   <h1>Produtos</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus, fugit exercitationem voluptates odit temporibus, rem aliquid dolores delectus ullam tenetur deserunt amet excepturi quisquam! Assumenda tenetur recusandae consectetur ex.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus, fugit exercitationem voluptates odit temporibus, rem aliquid dolores delectus ullam tenetur deserunt amet excepturi quisquam! Assumenda tenetur recusandae consectetur ex.</p>
                    
                  

                    <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Pagina 1</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Pagina 2</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Pagina 3</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled">Pagina 4</a>
                        </li>
                      </ul>

                        
                </div>
	</body>
</html>