.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color:#000000;
    min-height: 60px;
}

.sidenav{
    padding-top: 20px;
    background-color: rgb(85,159,245);
    height: 100%;
}

footer{
    background-color: #000000;
    color: rgb(85,129,245);
    text-shadow:
    0 0 7px #fff,
    0 0 92px rgb(59, 95, 255),
    0 0 102px #0fa,
    0 0 151px #0fa;
    padding: 15px;
}

.row.content{
    height: 450px;
    background-color:#000000;
    color: rgb(85,129,245);
    text-shadow:
    0 0 7px #fff,
    0 0 92px rgb(59, 95, 255),
    0 0 102px #0fa,
    0 0 151px #0fa;
}

@media screen and (max-width: 767px){
    .sidenav{
        height: auto;
        padding: 15px;
    }

    .row.content{
        height: auto;
    }
}

.navbar-brand{
    color:white;
}

.imagemlegal{
    width: 40px;
    
}

.well {
    background:rgb(255, 255, 255,0.5);
    border:1px solid black;
    text-align:center;
	color:black;
}

.accordion {
    background-color: #eee;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 10px;
  }
  .active, .accordion-content:hover p{
    color: black;
  }
  .active, .accordion-content p{
    color: black;
  }
  .active, .accordion button{
    background-color: #815194;
    color: white;
  }
  
  .accordion-content {
    overflow: hidden;
    padding: 0 18px;
    margin: 7px;
    border-radius: 5px;
    background-color: white;
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }
  
  .nav-tabs {
	  
	  visibility: hidden;
	  
  }
  
  .modal-header {
	  visibility: hidden;
  }
  
  .modal-footer {
	  visibility: hidden;
  }
  
	

	.tab-content {
		visibility: visible;
	}
  
  .modal-content {
	  visibility: hidden;
  }
  
  .box-parent-login {
	  background-color: rgb(85,159,245);
  }
  
  .ls-login-logo {
	   color: rgb(85,129,245);
    text-shadow:
    0 0 7px #fff,
    0 0 92px rgb(59, 95, 255),
    0 0 102px #0fa,
    0 0 151px #0fa;
}
