
<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="col-sm-8 text-left" layout:fragment="conteudo">
                    <h1>Armas exclusivas para você e toda sua família!</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus, fugit exercitationem voluptates odit temporibus, rem aliquid dolores delectus ullam tenetur deserunt amet excepturi quisquam! Assumenda tenetur recusandae consectetur ex.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus, fugit exercitationem voluptates odit temporibus, rem aliquid dolores delectus ullam tenetur deserunt amet excepturi quisquam! Assumenda tenetur recusandae consectetur ex.</p>
                  
                    <h2>Todas parceladas em até 12x sem juros</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus, fugit exercitationem voluptates odit temporibus, rem aliquid dolores delectus ullam tenetur deserunt amet excepturi quisquam! Assumenda tenetur recusandae consectetur ex.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus, fugit exercitationem voluptates odit temporibus, rem aliquid dolores delectus ullam tenetur deserunt amet excepturi quisquam! Assumenda tenetur recusandae consectetur ex.</p>
                </div>
	</body>
</html>