<!DOCTYPE html>

<html layout:decorate="~{layout}">
	<head>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<div class="col-sm-8 text-left" layout:fragment="conteudo">
                        <h1>Contato</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus, fugit exercitationem voluptates odit temporibus, rem aliquid dolores delectus ullam tenetur deserunt amet excepturi quisquam! Assumenda tenetur recusandae consectetur ex.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima minus, fugit exercitationem voluptates odit temporibus, rem aliquid dolores delectus ullam tenetur deserunt amet excepturi quisquam! Assumenda tenetur recusandae consectetur ex.</p>
                    
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email:</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">Nós com certeza vamos vazar suas informações.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Motivo de contato:</label>
                          <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Me envie promoções, novidades e vírus</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                      </form>

                        
                </div>
	</body>
</html>